params {
    samplesheet = false
    outdir = false
    output_file_format = "VCF"
    transcript_selection_mode = "CANONICAL"
    ref_version = false
    data_sources = false
    container__funcotator = "broadinstitute/gatk:4.4.0.0"
    container__python = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
}

process {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}