params {
    samplesheet = false
    outdir = false
    output_file_format = "VCF"
    ignore_filtered_variants = true
    transcript_selection_mode = "CANONICAL"
    ref_version = false
    data_sources = false
    allow_hg19_gencode_b37_contig_matching = true
    container__funcotator = "quay.io/biocontainers/gatk:3.8--hdfd78af_11"
}

process {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}